<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather | Now</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" >
      <form action="/" method="POST" >
          <input name="city" class="ghost-input" type="text" placeholder="Enter City"  style="font-size: 20px;">
          <input class="ghost-buttom" type="submit" value="Weather Now"  style="font-size: 20px;" >
      </form>

    <h1>The Weather in New York is 75 C</h1>
</div>

</body>
</html>